#WiFiPassword {
  line-height: 1;
  text-align: left;
}

img {
  display: inline;
}

.qr-image {
  padding: 8px;
}

.text {
  font-size: .90em
}

.layout-vertical {
  display: block;
}

.layout-horizontal {
  float: left;
  display: inline;
  padding-right: .5em;
}

.text.network, .text.password, .text.network-type {
  display: block;
  margin: 1px;
}

